
header{
    width: 100%;
    height: 100px;
    background-color: rgb(6, 0, 58);
    padding: 1.5rem;
    margin-bottom: 4rem;
    position: fixed;
    z-index: 1000;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    .navbar-right{
        display: flex;
        align-items: center;
        gap: 12px;
        .add{
            background-color: rgb(33, 167, 0);
            padding: 0.5rem 1rem;
            border-radius: 5px;
            border: none;
        }
        .menu-icon{
            transform: scale(1.2);
            &:hover{
                cursor: pointer;
            }
        }
        .menu-items{
            display: none;
            &.open{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 100px;
                position: fixed;
                right: 0px;
                left: 0px;
                top: 100px;
                bottom: 0px;
                background-color: rgb(6, 8, 34);
                font-size: 2rem;
                z-index: 999;
            }
            & span:hover{
                cursor: pointer;
                
            }
        }
    }
}

@media only screen and (min-width:750px) {
    .menu-icon{
        visibility: hidden;
    }
    .navbar-container .navbar-right .menu-items{
        display: flex;
        align-items: center;
        gap: 20px;
        &.open{
            all: unset;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
    
}
.no-decoration{
    text-decoration: none;
    color: white;
}